# URL da API backend (altere se sua API estiver rodando em outra porta ou host)
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_GOOGLE_CLIENT_ID=716137498529-2gl4562c7gs9av8vrh34omm0tnqi9bk8.apps.googleusercontent.com
